</div>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/assets/js/lightbox-2.6.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript">
	 $(document).ready( function() {
		 $('.carousel').carousel({
			 interval: 5000
		 });
		 graphics.forEach(function(g) {
		     g.render();
         });
	 });
 </script>
</body>
</html>
