<!DOCTYPE html>
<html>
 <head>
	 	<meta charset="utf-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link href='http://fonts.googleapis.com/css?family=Raleway|Open+Sans' rel='stylesheet' type='text/css'>
		 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		 <link href="/assets/css/lightbox.css" rel="stylesheet" type="text/css"/>
		 <link href="/assets/css/syntax.css" rel="stylesheet" type="text/css"/>
		 <link href="/assets/css/styles.css" rel="stylesheet" type="text/css"/>
		 <title>{{page.title}}</title>
 </head>
 <body>
		 <div class="container">
			 <div id="image_header" class="carousel slide">
				 <ol class ="carousel-indicators">
					 {% for header in site.headers %}
					 {% if forloop.index0 == 0 %}
					 <li data-target="#image_header" data-slide-to="{{forloop.index0}}" class="active"></li>
					 {% else %}
					 <li data-target="#image_header" data-slide-to="{{forloop.index0}}"></li>
					 {% endif %}
					 {% endfor %}
				</ol>
				<div class="carousel-inner">
					 {% for header in site.headers %}
					 {% if forloop.index0 == 0 %}
					 <div class="item active">
						 <img src="/assets/img/headers/{{header.img}}" alt="{{header.title}}"/>
						<div class="carousel-caption">
							<h4>{{header.title}}</h4>
							<p>{{header.caption}}</p>
						</div>
					 </div>
					 {% else %}
					 <div class="item">
						 <img src="/assets/img/headers/{{header.img}}" alt="{{header.title}}"/>
						<div class="carousel-caption">
							<h4>{{header.title}}</h4>
							<p>{{header.caption}}</p>
						</div>
					 </div>
					 {% endif %}
					 {% endfor %}
				</div>
			</div>
			<!-- Navigation Bar -->
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="/index.html">Andrew Marshall</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% if page.title == "Andrew Marshall's Blog" %} 
						<li class="active"><a href="/index.html"><span class="glyphicon glyphicon-home"/></a></li>
						{% else %}
						<li><a href="/index.html"><span class="glyphicon glyphicon-home"/></a></li>
						{% endif %}
						{% for cat in site.tags %}
						{% if page.title == cat[0] %} 
						<li class="active"><a href="/{{ cat[0] | downcase }}.html">{{ cat[0] }}</a></li>
						{% else %}
						<li><a href="/{{ cat[0] | downcase }}.html">{{ cat[0]}}</a></li>
						{% endif %}
						{% endfor %}
					</ul>
					<ul class="nav navbar-nav navbar-right social">
						<li><a href="https://www.facebook.com/planetmarshalluk" title="Facebook"><img src="/assets/img/FB-f-Logo__blue_29.png"/></a></li>
						<li><a href="https://twitter.com/planetmarshall" title="Twitter"><img src="/assets/img/Twitter_logo_blue.png"/></a></li>
						<li><a href="http://www.flickr.com/photos/planetmarshall/" title="Flickr!"><img src="https://s.yimg.com/pw/images/goodies/white-large-chiclet.png" width="32" height="32" alt=""></a></li>
						<li><a href="https://github.com/planetmarshall"><img src="/assets/img/GitHub-Mark-32px.png"/></a></li>
					</ul>
				</div>
			</nav>
