/* styles.scss */
h1, h2, h3, h4 {
  font-family: Raleway, sans-serif; }

p {
  font-family: "Open Sans", sans-serif; }

/* Recent posts */
.recent-posts ul {
  list-style-type: none; }

.navbar {
  border-radius: 0; }

/* Bootstrap Carousel styles */
.carousel .item {
  left: 0 !important;
  transition: opacity 1.0s; }
.carousel .active.left, .carousel .active.right {
  opacity: 0;
  z-index: 2; }
.carousel .next.left, .carousel .prev.right {
  opacity: 1;
  z-index: 1; }

.carousel-caption {
  text-align: left;
  left: 1em;
  padding: 0;
  top: 0; }

.carousel-indicators {
  left: default;
  text-align: default;
  width: default; }

/* Override bootstrap messing with pre tags */
pre {
  background-color: #272822;
  border-radius: 0px;
  border: 0px solid; }
