/* styles.scss */

$title-font: Raleway; 
$main-font: 'Open Sans';
@media (max-width:767px){
	.carousel-caption {
		visibility: hidden;
	}
	.carousel-indicators {
		visibility: hidden;
	}
}

@media(min-width:992px) {
	.container {
		width: 988px;
	}
}
@media(min-width:1200px) {
	.container {
		width: 988px;
	}
}


h1, h2, h3, h4 {
	font: {
		family: $title-font, sans-serif;
	}
}

p {
	font: {
		family: $main-font, sans-serif;
	}
}

blockquote {
	font-style: italic;
	font-size: small;
	color: #920000;
	border-left: 5px solid #C78D8D;
}

/* Recent posts */

.recent-posts {
	ul {
		list-style-type: none;
		li {
			clear: both;
		}
	}
}

.navbar {
	border-radius: 0;
}

.social > li > a {
	padding: {
		right: 2px;
		bottom: 0;
		top: 10px;
	}
}


/* Bootstrap Carousel styles */

.carousel {
	.item {
		left: 0 !important;
		transition: opacity 1.0s;
	}

	.active.left, .active.right {
		opacity:0;
		z-index:2;
	}

	.next.left, .prev.right {
		opacity:1;
		z-index:1;
	}
}

@mixin meta {
	border-bottom: 1px solid #BDBDBD;
	margin-bottom: 1em;
}

.page-meta {
	@include meta;
}

.excerpt-meta {
	@include meta;
}


.carousel-caption {
	text-align: left;
	left: 1em;
	padding: 0;
	top: 0;
}

.carousel-indicators {
	left: default;
	text-align: default;
	width: default;
}

/* Override bootstrap messing with pre tags */
pre {
	background-color: #272822;
	border-radius: 0px;
	border: 0px solid;
}

/* Images */

@mixin thumbnail($link-color, $active-link-color) {
	border: 1px solid $link-color;
	padding: 0.75em;
	margin-top: 0.5em;
	margin-bottom: 1em;
	&:hover {
		border: 1px solid $active-link-color;
	}

	img {
		border: 1px solid $link-color;

		&:hover {
			border: 1px solid $active-link-color;
		}
	}
}

$link-color: #428bca;
$active-link-color: #2a6496;
.thumbnail-left {
	@include thumbnail($link-color, $active-link-color);
	float: left;
	margin-right: 1em;
	margin-left: 0;
}

.thumbnail-right {
	@include thumbnail($link-color, $active-link-color);
	float: right;
	margin-right: 0em;
	margin-left: 1em;
}


